I# Mac OS X
.DS_Store
*~
*.bak

# Release package
/node_modules/*
/src/css/*
/dist/*
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.iml
.idea

nbproject/
.idea/*
*.tmproj
*.sublime-project
*.sublime-workspace
*.sample
*.zip
*.tar.gz
node_modules
.sass-cache
upload
prepros.cfg
.map
*.map
*[! -~]*
public/gulpfile.js

