<?xml version="1.0" encoding="UTF-8"?>
<data>
	<debug>0</debug>
    <img id="loadingSpriteSheet" url="assets/load/loadingSpriteSheet.png" />
    <img id="exclamation" url="assets/load/exclamation.png" />
    <img id="loadingTxt" url="assets/load/loadingTxt.png" />
    <img id="loadingDot" url="assets/load/loadingDot.png" />
    <img id="txtLoadComp" url="assets/load/txtLoadComp.png" />
    <img id="txtNum0" url="assets/load/txtNum0.png" />
    <img id="txtNum1" url="assets/load/txtNum1.png" />
    <img id="txtNum2" url="assets/load/txtNum2.png" />
    <img id="txtNum3" url="assets/load/txtNum3.png" />
    <img id="txtNum4" url="assets/load/txtNum4.png" />
    <img id="txtNum5" url="assets/load/txtNum5.png" />
    <img id="txtNum6" url="assets/load/txtNum6.png" />
    <img id="txtNum7" url="assets/load/txtNum7.png" />
    <img id="txtNum8" url="assets/load/txtNum8.png" />
    <img id="txtNum9" url="assets/load/txtNum9.png" />
    <img id="txtP" url="assets/load/txtP.png" />
</data>