/*Stylesheet*/

body {
    font-family: Monospace;
    background-color: #FFFFFF;
    margin: 0px;
    overflow: hidden;
}

.bgline {
}


#canvasHolder{
    z-index: 2;
    position: absolute;
}

#canvas3DBase{
    z-index: 1;
    position: absolute;
}